<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<!doctype html>
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Demo Form</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.min.css">

    <!-- build:css styles/vendor.css -->
    <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.min.css">
    <link rel="stylesheet" href="bower_components/textAngular/dist/textAngular.min.css">
    <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

    <!--[if lt IE 9]>
    <script src="bower_components/angular-point-ie-safe/dist/angular-point-ie-safe.min.js"></script>
    <![endif]-->

</head>
<body ng-app="demo" id="ng-app">

<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Angular Point Input Demo</a>
        </div>
    </div>
</nav>

<div class="application-content" ng-controller="demoController">
    <div class="container-fluid">

        <form novalidate>
            <div class="well well-sm">
                <label>Toggle Mode</label>

                <div class="btn-group">
                    <a href class="btn btn-primary"
                       ng-class="{active: state.required}"
                       ng-click="toggleBooleanProperty('required')">Required
                    </a>
                    <a href class="btn btn-primary"
                       ng-class="{active: state.disabled}"
                       ng-click="toggleBooleanProperty('disabled')">Disabled
                    </a>
                    <a href class="btn btn-primary"
                       ng-class="{active: state.displayDescription}"
                       ng-click="toggleBooleanProperty('displayDescription')">Display Description
                    </a>
                </div>
            </div>


            <div class="row" ng-repeat="row in fieldDefinitions">
                <div ng-repeat="field in row"
                     data-entity="listItem"
                     data-field-name="field.fieldName"
                     ap-input-group
                     data-field-definition="field"></div>
            </div>
        </form>
    </div>
</div>

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>


<!--JS Plugins/Utils -->
<script src="bower_components/lodash/dist/lodash.js"></script>
<script src="bower_components/angular-ui-select/dist/select.js"></script>

<!--Angular UI-->
<script src="bower_components/angular-ui-utils/ui-utils.js"></script>
<script src="bower_components/angular-ui-date/src/date.js"></script>
<script src="bower_components/textAngular/dist/textAngular.min.js"></script>

<script src="bower_components/angular-point/dist/angular-point.js"></script>
<script src="bower_components/angular-point-form-control/dist/apInputControl.js"></script>
<script src="app.js"></script>

</body>
</html>
